/.idea/
/Tools/
/DevouringAndDigesting/Localization/**/*.loca
/DevouringAndDigesting/Public/DevouringAndDigesting/**/*.lsf
/DevouringAndDigesting/Public/DevouringAndDigesting/**/*.lsf
/DevouringAndDigesting/Mods/DevouringAndDigesting/**/*.lsf
/DevouringAndDigesting.zip
/DevouringAndDigesting/Public/Game/**/*
/DevouringAndDigesting/Public/DevouringAndDigesting/Assets/**/*
/DevouringAndDigesting/Public/DevouringAndDigesting/Content/UI/**/*
/DevouringAndDigesting/Public/DevouringAndDigesting/GUI/**/*
