/.idea/
/Tools/
/DevouringAndDigesting/Localization/**/*.loca
/DevouringAndDigesting/Public/DevouringAndDigesting/**/*.lsf
/DevouringAndDigesting/Mods/DevouringAndDigesting/**/*.lsf
/DevouringAndDigesting.zip
