/.idea/
/Tools/
/DevouringAndDigesting/Localization/**/*.loca
/DevouringAndDigesting/Public/DevouringAndDigesting/**/*.lsf
/DevouringAndDigesting/Public/DevouringAndDigesting/**/*.lsf
/DevouringAndDigesting/Mods/DevouringAndDigesting/**/*.lsf
/DevouringAndDigesting.zip
/DevouringAndDigesting/Public/Game/**/*
/DevouringAndDigesting/Public/DevouringAndDigesting/Assets/**/*
/DevouringAndDigesting/Public/DevouringAndDigesting/Content/UI/**/*
/DevouringAndDigesting/Public/DevouringAndDigesting/GUI/**/*
/DevouringAndDigesting/Localization/English/DevouringAndDigesting.xml
/DevouringAndDigesting/Public/DevouringAndDigesting/Content/Assets/Characters/Humans/[PAK]_Female_Belly/_merged.lsx
/DevouringAndDigesting/Public/DevouringAndDigesting/CharacterCreation/CharacterCreationSharedVisuals.lsx
/DevouringAndDigesting/Mods/DevouringAndDigesting/ScriptExtender/Lua/Subclasses/StomachSentinelBootlegBullshit.lua


