# Get plugin here: https://marketplace.visualstudio.com/items?itemName=Koihik.vscode-lua-format
# Config reference: https://github.com/Koihik/LuaFormatter/blob/master/docs/Style-Config.md

column_limit: 120
keep_simple_control_block_one_line: false
keep_simple_function_one_line: false
extra_sep_at_table_end: true
